@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap");
* {
  margin-top: 0px;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-container {
  background-color: aliceblue;
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 10px;
}
.chat-aside-left {
  flex: 1;
  height: 100%;
  background-color: blue;
  position: relative;
}
.chat-aside-left {
  flex: 1;
  height: 100%;
  background-color: blue;
}

.chat-aside-right {
  flex: 3;
  height: 100%;
  background-color: cornsilk;
}

.chat-aside-header {
  height: 50px;
}

.chat-aside-header--blue {
  background-color: rgb(64, 64, 216);
}

.chat-aside-header--white {
  background-color: white;
}

.chat-aside-header-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the search field */
input[type="text"] {
  padding: 10px;
  font-size: 13px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
  height: 50%;
}

/* Style the submit button */
button {
  width: 20%;
  padding: 1px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  height: 50%;
}

button:hover {
  background: #0b7dda;
}

.chat-aside-left-body {
  color: white;
}

.chat-person {
  border-top: 1px solid rgb(0, 0, 88);
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  cursor: pointer;
}

.chat-person--active {
  background-color: rgb(64, 64, 216);
}

.chat-person-image {
  flex: 1;
  height: 100%;
  width: 100%;
}
.chat-person-image > img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid;
}

.chat-person--details {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.chat-person-name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
.chat-person-message {
  font-size: 11px;
}

.chat-person-date {
  flex: 1;
  text-align: right;
  font-size: 11px;
}
.chat-aside-footer {
  position: absolute;
  height: 70px;
  bottom: 0;
}

.chat-aside-footer--left {
  width: 100%;
  background-color: rgb(64, 64, 216);
  bottom: 0;
}
.chat-person-add {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin: 10px;
  cursor: pointer;
}
.chat-person-add > i {
  font-size: 28px;
  padding: 11px;
  color: blue;
  font-weight: 200;
}
